<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_cs460)/world/world_model.world"/>
  </include>
  <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_cs460)/urdf/model.sdf -sdf -z 1 -model cs460_bot" />
</launch>
